body{
    overflow-x: hidden;
    background-color:white;
}
nav{
    display: flex;
    overflow: hidden;
   
    background-color: #3e3c3c;
     height: 63px;

}
nav ul {
    height: 50px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
  
}
nav ul li{
   list-style: none;
   padding: 0 23px;
 
   color: white;
   font-size: x-large ;
}
.Track{
    position: relative;
    bottom: 8px;
    left: 166px;
}
.Artist{
    position: relative;
    left: 377px;
    bottom: 8px;
}
.Play{
    position: relative;
    top: -7px;
    left: 700px;
}
.number{
    position: relative;
    top: 17px;
    left: 46px;
}

.play{
    position: relative;
    left: 932px;
    bottom: 104px;
}
.artist{
   
    position: relative;
    left: 538px;
    bottom: 51px;
}
.track{
    position: relative;
    bottom: 9px;
    left: 116px;
}
.box{
    background-color: #6f6c68;
    
    height: 50px;
    justify-content: center;
}